@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body, html {
  font-family: 'Silkscreen', cursive;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}

h1 {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 5rem;
  color: lavender;
}

.tama-content-container {
  border: lavender .4rem solid;
  border-radius: 2rem;
  height: 75vh;
  margin: 0 12rem;
}

.tama-content {
  height: 57vh;
  padding: 2rem;
}

.auth-popup {
  display: none;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
